* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(0, 83, 73);
    --success: rgb(0, 109, 96);
    --sucess-hover : rgb(0, 88, 77);
    --submit-hover : rgb(0, 141, 125);
    --danger : rgb(255, 32, 32);
    --danger-hover : rgb(235, 0, 0);
    --state : rgb(0, 127, 2);
    --state-hover : rgb(0, 105, 2);
    --admin : rgb(212, 120, 0);
    --admin-hover : rgb(188, 107, 0);
    --article : rgb(0, 105, 150);
    --article-hover :rgb(0, 70, 100);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
 
i {
    color: white;
    font-size: 15px;
}

.header {
    height: 11vh;
    background-color: var(--bg-color);
    color: white;
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

/* .nav-header h1{
    font-style: italic;
} */

/* .nav-link {
    background-color: rebeccapurple;
} */

.nav-link ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link ul li {
    margin: 0 10px;
}


/* Main */
.main {
    width: 100%;
    height: 100vh;
    padding: 20px 40px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-title h3 {
    text-decoration: underline;
    font-style: italic;
}

.btn-success {
    padding: 10px 12px;
    border-radius: 5px;
    background-color: var(--success);
    display: inline;
}

.btn-danger {
    padding: 10px 12px;
    border-radius: 5px;
    background-color: var(--danger);
    display: inline;
    margin: 0 6px;
}

.btn-state {
    padding: 10px 12px;
    border-radius: 5px;
    background-color: var(--state);
    display: inline;
    margin: 0 6px;
}

.btn-state-logout {
    padding: 10px 12px;
    border-radius: 5px;
    background-color: var(--danger);
    display: inline;
    margin: 0 6px;
}

.btn-admin {
    padding: 10px 12px;
    border-radius: 5px;
    background-color: var(--admin);
    display: inline;
}

.btn-article {
    padding: 10px 12px;
    border-radius: 5px;
    background-color: var(--article);
    display: inline;
    margin: 0 6px;
}


.btn-success:hover {
    background-color: var(--sucess-hover);
}

.btn-danger:hover {
    background-color: var(--danger-hover);
}

.btn-state:hover {
    background-color: var(--state-hover);
}

.btn-state-logout:hover {
    background-color: var(--danger-hover) !important;
}

.btn-admin:hover {
    background-color: var(--admin-hover);
}

.btn-article:hover {
    background-color: var(--article-hover);
}


/* Card */
.matieres {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(25% - 20px), 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 10px auto;
    color: rgb(0, 0, 0);
    margin: 30px 0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center;
    padding: 7px !important;
    height: 170px;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}

.card .btn {
    background-color: var(--success);
    color: #fff;
    border: none;
    padding: 7px 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.card .btn:hover {
    background-color: var(--sucess-hover);
}

.empty {
    background-color: var(--danger);
    padding: 40px;
}

.empty h3 {
    color: white;
    text-align: center;
}

.articles {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Form */

form {
    width: 25vw;
    background-color: var(--bg-color);
    padding: 20px;
    margin: 10px auto;
    border-radius: 7px;
}

form h3{
    color: white;
}

input {
    padding: 7px 10px;
    outline: none;
    width: 95%;
    margin: 10px 0;
}

label {
    color: white;
}

.submit {
    padding: 5px 8px;
    cursor: pointer;
    background-color: white;
    color: var(--bg-color);
    border: 2px solid var(--submit-hover);
    font-weight: bold;
}


input[type="submit"] { 
    padding: 5px 8px;
    cursor: pointer;
    background-color: white;
    color: var(--bg-color);
    border: 2px solid var(--submit-hover);
    font-weight: bold;
}

.para {
    margin: 10px 0;
    font-size: 15px;
}

.textarea {
    resize: none;
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    padding: 10px;
    border: none;
    outline: none;
}

.choice, .choice-Id, .choice-auteur {
    margin: 5px 0;
    padding: 4px 7px;
}

